<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta property="og:title" content="U&D" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ud-etancheite.fr" />
    <meta property="og:image" content="web/assets/app/img/logo-home.png" />
    <meta property="og:description"
          content="Acteur majeur en Ile-de-France,
                   U&D vous accompagne depuis 2012 dans vos projet de gros oeuvres,
                   en isolation et en étanchéité." />

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>{% block title %}U&D{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/dist/img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/dist/img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/dist/img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/dist/img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/dist/img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/dist/img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/dist/img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/dist/img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/dist/img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/dist/img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/dist/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/dist/img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/dist/img/favicon-16x16.png') }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="{{ asset('assets/dist/css/style.min.css') }}">

</head>
<body>
<div id="body__container">
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="toast toast-{{ type }}"
                 role="alert">
                <button type="button" class="btn btn-clear float-right" ></button>
                {{ flashMessage|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="brandNav" style="height: 200px; padding: 0">
        <a title="home" href="#body__container" alt="logo U&D" class="brandLogo  js-smoothScroll" id="brandLogo__image"><img class="brandLogo__image" src="{{ asset('assets/app/img/logo-home.png') }}"></a>
    </div>

    <header class="section__landing">
        <div class="section__container">
            <div class="section__content">
                <div class="section__header">
                    <h1 class="section__title">{{ contentBlocks.0.textBlocks.0.title }}</h1>
                    <h2 class="h5 section__subtitle">
                        {{ contentBlocks.0.textBlocks.0.content }}
                    </h2>
                    <a title="contactez-nous" class="btn btn__primary section__landingButton js-smoothScroll" href="#section__contact">
                        <span>Contactez-nous facilement</span>
                        <span><img src="{{ asset('assets/dist/img/arrow_right.svg') }}" alt="flèche vers la droite" class="btn__icon"></span>
                    </a>
                </div>

                <div class="container__image inner-shadow">
                    <img src="{{ asset('assets/dist/img/Compo2.png') }}" alt="Logo de partenaire Cat" class="avatar__img">
                </div>
            </div>
        </div>
        <nav class="navSticky">
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6 js-smoothScroll" href="#section__statistics">
                    <img src="{{ asset('assets/dist/img/arrow_down_stripe.svg') }}" alt="flèche vers le bas" class="navSticky__iconDesktop">
                    <span class="navSticky__label">Allez vers le bas pour découvrir U&D</span>
                </a>
                <a style="margin: -45px 0px 0px; padding: 4px 0;" href="#body__container" alt="logo U&D" class="navSticky__scrollTop js-smoothScroll"><img style="max-height: none; height: 80px" class="brandLogo__image" src="{{ asset('assets/app/img/logo-home.png') }}" alt=""></a>
            </div>
            <div class="navSticky__tab">
                <a title="Chiffres clés" class="navSticky__tabLink h6 js-smoothScroll" href="#section__statistics">
                    <span class="navSticky__iconMobile">
                        <img src="{{ asset('assets/dist/img/Stat.svg') }}" alt="flèche vers le bas" class="navSticky__icon">
                    </span>
                    <span class="navSticky__label">Chiffres clés</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a title="Nos métiers" class="navSticky__tabLink h6 js-smoothScroll" href="#section__jobs">
                    <span class="navSticky__iconMobile">
                        <img src="{{ asset('assets/dist/img/Work.svg') }}" alt="flèche vers le bas" class="navSticky__icon">
                    </span>
                    <span class="navSticky__label">Nos métiers</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a title="Réseau partenaire" class="navSticky__tabLink h6 js-smoothScroll" href="#section__partenaire">
                    <span class="navSticky__iconMobile">
                        <img src="{{ asset('assets/dist/img/People.svg') }}" alt="flèche vers le bas" class="navSticky__icon">
                    </span>
                    <span class="navSticky__label">Réseau partenaire</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a title="contact" class="navSticky__tabLink h6 js-smoothScroll navSticky__Contact btn" href="#section__contact">
                    <span class="navSticky__iconMobile">
                        <img src="{{ asset('assets/dist/img/Email.svg') }}" alt="flèche vers le bas" class="navSticky__icon">
                    </span>
                    <span class="navSticky__label">Rentrons en contact</span>
                </a>
            </div>
        </nav>
    </header>

    <section class="section__statistics" id="section__statistics">
        <div class="section__numbers section__container">
            <div class="numbers__text">
                <h2 class="section__title">{{ contentBlocks.1.textBlocks.0.title }}</h2>
                <div class="numbers__holder section__content">
                    <div class="numbersContainer" style="position: relative;">
                        <span data-number="{{ contentBlocks.1.textBlocks.4.title }}" class="number h2">
                            0
                        </span>
                        {% if contentBlocks.1.textBlocks.4.type is defined and contentBlocks.1.textBlocks.4.type == constant('AppBundle\\Entity\\TextBlock::TYPE_PERCENTAGE') %}
                            <span style="position: absolute; top: 15px; right: 35%; font-size: 32px; font-weight: 700; color: #203640;" >%</span>
                        {% endif %}
                        <p class="number__description h5">{{ contentBlocks.1.textBlocks.4.content }}</p>
                    </div>
                    <div class="numbersContainer" style="position: relative;">
                        <span data-number="{{ contentBlocks.1.textBlocks.2.title }}" class="number h2">
                            0
                        </span>
                        {% if contentBlocks.1.textBlocks.2.type is defined and contentBlocks.1.textBlocks.2.type == constant('AppBundle\\Entity\\TextBlock::TYPE_PERCENTAGE') %}
                            <span style="position: absolute; top: 15px; right: 35%; font-size: 32px; font-weight: 700; color: #203640;" >%</span>
                        {% endif %}
                        <p class="number__description h5">{{ contentBlocks.1.textBlocks.2.content }}</p>
                    </div>
                    <div class="numbersContainer" style="position: relative;">
                        <span data-number="{{ contentBlocks.1.textBlocks.3.title }}" class="number h2">
                            0
                        </span>
                        {% if contentBlocks.1.textBlocks.3.type is defined and contentBlocks.1.textBlocks.3.type == constant('AppBundle\\Entity\\TextBlock::TYPE_PERCENTAGE') %}
                            <span style="position: absolute; top: 15px; right: 35%; font-size: 32px; font-weight: 700; color: #203640;" >%</span>
                        {% endif %}
                        <p class="number__description h5">{{ contentBlocks.1.textBlocks.3.content }}</p>
                    </div>
                    <div class="numbersContainer" style="position: relative">
                        <span data-number="{{ contentBlocks.1.textBlocks.1.title }}" class="number h2">
                            0
                        </span>
                        {% if contentBlocks.1.textBlocks.1.type is defined and contentBlocks.1.textBlocks.1.type == constant('AppBundle\\Entity\\TextBlock::TYPE_PERCENTAGE') %}
                            <span style="position: absolute; top: 15px; right: 35%; font-size: 32px; font-weight: 700; color: #203640;" >%</span>
                        {% endif %}
                        <p class="number__description h5">{{ contentBlocks.1.textBlocks.1.content }}</p>
                    </div>
                </div>
            </div>
            <div class="inner-shadow container__image">
                <img src="{{ asset('assets/dist/img/Compo3.png') }}" alt="image de bâtiments" class="numbers--img">
            </div>
        </div>

    </section>
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script defer src="{{ asset('assets/dist/js/bundle.js') }}"></script>
{#<script src="https://d2bmpzuwfx796e.cloudfront.net/js/bundle.js.gz"></script>#}
</body>
</html>
