<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#<link rel="stylesheet" href="https://d2bmpzuwfx796e.cloudfront.net/css/style.min.css.gz">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="{{ asset('assets/dist/css/style.min.css') }}">

</head>
<body>
<div class="container">
    <a href="#"><img class="header-logo" src="{{ asset('assets/app/img/pictos/logo-home.svg') }}" alt=""></a>
    <section class="section section__landing-spacer">
        <div class="section__landing">
            <div class="landing__text--holder">
                <h1 class="landing__title">U&D, spécialiste du BTP<span class="strong-word">.</span></h1>
                <p class="landing__text">
                    Sed hendrerit suscipit cursus. In lorem leo, vehicula et dictum nec, pellentesque sed orci.
                    Duis quis ullamcorper tortor. Donec non varius elit. Integer id leo semper
                </p>
                <a class="btn btn__primary" href="#contact">
                    <span>Contactons-nous facilement</span>
                    <span><img src="{{ asset('assets/dist/img/arrow_right.svg') }}" alt="flèche vers la droite" class="btn__icon"></span>
                </a>
            </div>
            <div class="section_img">
                <img class="section-img landing__img"
                     src="{{ asset('assets/app/img/house-landing.png') }}"
                     alt="batiment décoration">
            </div>
        </div>
        <nav class="navSticky">
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6" href="#section__jobs">
                    <img src="{{ asset('assets/dist/img/arrow_down_stripe.svg') }}" alt="flèche vers le bas" class="navSticky__icon">
                    <span class="navSticky__label">Allez vers le bas pour découvrir U&D</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6" href="#home">
                    <span class="navSticky__label">Chiffres clés</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6" href="#home">
                    <span class="navSticky__label">Nos métiers</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6" href="#home">
                    <span class="navSticky__label">Réseau partenaire</span>
                </a>
            </div>
            <div class="navSticky__tab">
                <a class="navSticky__tabLink h6" href="#home">
                    <span class="navSticky__label">Rentrons en contact</span>
                </a>
            </div>
        </nav>
    </section>
    <section class="section section__numbers--holder" id="#home">
        <div class="section__numbers">
            <div class="numbers__text">
                <h2 class="numbers__title">A Visual Type Scale better <span class="strong-word">than</span> me</h2>
                <div class="numbers__holder">
                    <div class="numbersContainer">
                        <span data-number="34" class="number h2">
                            0
                        </span>
                        <p class="number__description">Clients nous ont déjà rejoins l’année dernière en lorem ipsum</p>
                    </div>
                    <div class="numbersContainer">
                        <span data-number="34" class="number h2">
                            0
                        </span>
                        <p class="number__description">Clients nous ont déjà rejoins l’année dernière en lorem ipsum</p>
                    </div>
                    <div class="numbersContainer">
                        <span data-number="132" class="number h2">
                            0
                        </span>
                        <p class="number__description">Clients nous ont déjà rejoins l’année dernière en lorem ipsum</p>
                    </div>
                    <div class="numbersContainer">
                        <span data-number="145" class="number h2">
                            0
                        </span>
                        <p class="number__description">Clients nous ont déjà rejoins l’année dernière en lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="numbers__img">
                <img class="numbers--img" src="{{ asset('assets/app/img/house-numbers.png') }}"
                     alt="bâtiment décoration">
            </div>
        </div>

    </section>
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="{{ asset('assets/dist/js/bundle.js') }}"></script>
{#<script src="https://d2bmpzuwfx796e.cloudfront.net/js/bundle.js.gz"></script>#}
</body>
</html>
