{% extends 'base_admin.html.twig' %}

{% block body %}
    <h2>Carnet d'appel</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>N° Téléphone</th>
                <th>Email</th>
                <th>Apeller le</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>+33 {{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{% if contact.callAt %}{{ contact.callAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
