{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Ajouter un partenaire</h1>

    {{ form_start(form, {'attr': { 'class': 'form-group'}}) }}
        {{ form_label(form.name, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.name) }}
        {{ form_label(form.logoFile, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.logoFile) }}
        {{ form_label(form.alt, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.alt) }}
        {{ form_label(form.url, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.url) }}
        {{ form_label(form.visible, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.visible) }}
        {{ form_label(form.rank, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.rank) }}
        <input class="btn btn-primary mt-10" type="submit" value="Enregistrer">
    {{ form_end(form) }}

{% endblock %}
