{% extends 'base_admin.html.twig' %}

{% block body %}

    <h1>Citations</h1>

    <a class="btn btn-primary mb-10" href="{{ path('new_quotes') }}"><i class="icon icon-plus"></i>&nbsp;Ajouter une citation</a>

    {% if quotes|length > 0 %}
        {% for quote in quotes %}
            <div class="card mb-10">
                <div class="card-header">
                    <h4 class="card-title">{{ quote.firstname }} {{ quote.lastname }}</h4>
                    <h6 class="card-subtitle">{{ quote.function }} - {{ quote.company }}</h6>
                    <h6 class="card-subtitle">{{ quote.createdAt|date('d/m/Y h:II') }}</h6>
                </div>
                <div class="card-body">
                    {{ quote.text|raw }}
                </div>
                <div class="card-footer">
                    <a href="{{ path('edit_quotes', {'id': quote.id}) }}" class="btn btn-primary">Editer</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-bookmark"></i>
            </div>
            <h4 class="empty-title">Il n'y a aucune citations</h4>
            <p class="empty-subtitle">Cliquer sur le bouton pour en créer une.</p>
            <div class="empty-action">
                <a href="{{ path('new_quotes') }}" class="btn btn-primary">Créer une citation</a>
            </div>
        </div>
    {% endif %}

{% endblock %}