{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Bloc de contenu</h1>

    <h3>Section : {{ contentblock.name }}</h3>

    {{ form_start(form, {'attr': { 'class': 'form-group'}}) }}
    <input name="_csrf_token" value="{{ csrf_token('form') }}" type="hidden">
        {{ form_label(form.name, null, {'label_attr': { 'class': 'form-label'} }) }}
        {{ form_widget(form.name) }}
    <input class="btn btn-primary mt-10" type="submit" value="Editer">
    {{ form_end(form) }}

    {% if textblocks|length > 0 %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom du block</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for textblock in textblocks %}
                <tr>
                    <td>{{ textblock.id }}</td>
                    <td>{{ textblock.name }}</td>
                    <td>{{ textblock.position }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('text_block_show', { 'id': textblock.id }) }}">Voir</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-edit"></i>
            </div>
            <h4 class="empty-title">Il n'y a aucun contenu texte.</h4>
        </div>
    {% endif %}
{% endblock %}
